/* Global Setting */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    scroll-behavior: smooth;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

nav ul li a {
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

header {
    background-color: #251678;
    position: sticky;
    padding: 0px 20px;
    top: 0;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

nav {
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav ul span {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 600;
}

nav ul li a:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}

.hero-section {
    color: white;
    height: 100vh;
    background-image: url(images/hero_image.png);
    display: grid;
    background-size: cover;
    place-items: center;
    background-repeat: no-repeat;
    text-align: center;
}

.hero-section .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-section h1 {
    font-size: 90px;
}

.hero-section h3 {
    font-size: 25px;
}

.music-section {
    padding-top: 50px;
    background-color: #5c1678;
}

.music-section .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.iphone-ipad-img {
    position: relative;
    top: 450px;
    margin-top: -400px;
}

.iphone-ipad-img img,
.mac-img img {
    width: 100%;
}

button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in;
}

button:hover {
    opacity: 0.8;
    transition: 0.2s ease-out;
}

.primary-btn {
    color: white;
    background-color: red;
}

.secondary-btn {
    color: white;
    background-color: #251678;
    align-self: flex-start;
}

.about-music {
    padding: 500px 25px 0px;
    display: grid;
    place-items: center;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.about-music h4,
.Video-section h4 {
    font-weight: 400;
}

.Video-section {
    background-image: url(images/video.png);
    height: 800px;
    display: grid;
    place-items: center;
    padding: 50px;
    color: white;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
}

.Video-section .container {
    flex-direction: column;
    display: flex;
    gap: 50px;
    margin-top: -200px;
}

.gift-section {
    display: flex;
    justify-content: center;
    margin: 50px 20px;
    align-items: center;
    border: 1px solid black;
}

.gift-card {
    padding: 45px 50px;
    flex: 40%;
}

.gift-card img {
    width: 100%;
}

.gift-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: black;
    color: white;
    padding: 50px;
    flex: 60%;
}

.footer-up {
    background-color: #251678;
    padding: 20px;
}

.footer-up .container {
    display: flex;
    color: white;
    justify-content: space-around;
}

.footer-up .container ul {
    list-style: none;
    text-align: center;
}

.footer-up h4 {
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    text-align: center;
}

.footer-down {
    background-color: #5c1678;
    padding: 20px;
    text-align: center;
    color: white;
}

@media (max-width:835px) {
    .container {
        padding: 0 15px;
    }

    header {
        padding: 20px 0px;
    }

    .about-music {
        padding-top: 500px;
    }

    .gift-section {
        flex-direction: column;
    }
}

@media (max-width:435px) {
    .footer-up .container {
        flex-direction: column;
        gap: 30px;
        width: 160px;
    }

    nav ul li {
        display: none;
    }

    .Video-section {
        height: 120vh;
        padding: 15px;
    }

    nav ul span {
        display: block;
        font-size: 20px;
    }

    .about-music {
        padding-top: 200px;
    }

    .music-section {
        padding-bottom: 300px;
    }

    .Video-section {
        height: 1000px;
    }

    .hero-section h1 {
        font-size: 50px;
    }

    .gift-content,
    .gift-card {
        padding: 25px;
    }
}